BODY{ font-family: 'Roboto Mono', monospace;  }
  svg {
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }
  div.tooltip {
    position: fixed;
    bottom: 20;
    right: 20;
    width: 350px;
    border: 3px solid #42A5F5;
    text-align: left;
    height: 130px;
    padding: 2px;
    opacity: 0;
    font: 18px verdana;
    background: white;
    pointer-events: none;
}

div.tooltip2 {
  position: fixed;
  bottom: 50;
  left: 50;
  width: 190px;
  border: 3px solid #42A5F5;
  text-align: left;
  height: 155px;
  padding: 2px;
  opacity: 0;
  font: 18px verdana;
  background: white;
  pointer-events: none;
}


.button {
  position: fixed;
  background-color: #42A5F5;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: verdana;
}

div.year {
  position: fixed;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 32px;
  background-color: white;
  top: 200;
  right: 80;
  color: black;
  border: 2px solid #42A5F5;
}


.button_s {
  background-color: white;
  top: 10;
  right: 400;
  color: black;
  border: 2px solid #42A5F5;
}

.button_s:hover {
  background-color: #42A5F5;
  color: white;
}

input.input1 {
  position: fixed;
  top: 10;
  padding: 10px 100px;
  right: 530;
  background-color: white;
  background-image: url('../data/sex.png');
  background-position: 50px 1px;
  background-size: contain;
  font-size: 16px;
  background-repeat: no-repeat;
  border: 2px solid #42A5F5;
  margin: 4px 2px;
  font-family: verdana;

}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: fixed;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  padding: 10px 530px;
  /*position the autocomplete items to be the same width as the container:*/
  top: 60;
  left: -75;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
  width: 350px;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 100%;
  top: 30;
  right: 110;
  position: fixed;
  }
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  top: 60;
  right: 150;
  position: fixed;


  }
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;


  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #000000;

  }

.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;

  }
.my-legend  {
  color: #000000;
  border: 2px solid #42A5F5;
  top: 10;
  right: 80;
  position:fixed;
  height: 150px;
  width: 200px;
  }
