BODY{ font-family: verdana; }
  svg {
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }
  div.tooltip {
    position: fixed;
    bottom: 20;
    right: 20;
    width: 300px;
    border: 3px solid #42A5F5;
    text-align: left;
    height: 115px;
    padding: 2px;
    font: 18px verdana;
    background: white;
    pointer-events: none;
}

.button {
  position: fixed;
  background-color: #42A5F5;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: verdana;
}

.button1 {
  background-color: white;
  top: 200;
  right: 40;
  color: black;
  border: 2px solid #42A5F5;
}

.button1:hover {
  background-color: #42A5F5;
  color: white;
}

.button2 {
  background-color: white;
  top: 250;
  right: 40;
  color: black;
  border: 2px solid #42A5F5;
}

.button2:hover {
  background-color: #42A5F5;
  color: white;
}

.button3 {
  background-color: white;
  top: 300;
  right: 40;
  color: black;
  border: 2px solid #42A5F5;
}

.button3:hover {
  background-color: #42A5F5;
  color: white;
}

.button_s {
  background-color: white;
  top: 10;
  right: 400;
  color: black;
  border: 2px solid #42A5F5;
}

.button_s:hover {
  background-color: #42A5F5;
  color: white;
}

input.input1 {
  position: fixed;
  top: 10;
  padding: 10px 100px;
  right: 530;
  background-color: white;
  background-image: url('data/sex.png');
  background-position: 50px 1px;
  background-size: contain;
  font-size: 16px;
  background-repeat: no-repeat;
  border: 2px solid #42A5F5;
  margin: 4px 2px;
  font-family: verdana;

}
